<!DOCTYPE html>

<head>
    <title>HEDDEx Inference</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
</head>

<body>
    <div class="ui centered grid">
        <div class="ui eight wide center aligned column" style="padding: 100px;">
            <p><span class="ui huge text">HEDDEx Inference Engine</span></p>
            <div class="ui blue label">
                {{task}}
                <div class="detail">Model Currently Loaded</div>
            </div>
            <div class="ui form">
                <div class="ui input" style="width: 100%; margin: 50px 0px 50px 0px">
                    <textarea id="text-area"></textarea>
                </div>
                <button id="predict" class="ui red button">Get Predictions</button>
            </div>
            <pre id="output" class="ui segment" style="width: 100%; border-radius: 5px;height: 400px; 
                background-color: #eee;overflow-y: scroll; text-align: left;">
            </pre>
        </div>
    </div>
    <div>

    </div>
    <script src="/inference.js" type="module"></script>
</body>

</html>